.create-container {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .cardContain{
    margin-top: 10px;
  }
  
  .card {
    border-radius: 8px;
    border: none;
  }
  
  .input-custom {
    border-color: #80650e;
  }
  
  .input-custom:focus {
    border-color: #010c1d;
    box-shadow: 0 0 0 0.2rem rgba(0, 12, 29, 0.25);
  }
  
  .btn-custom {
    background-color: #80650e;
    color: white;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #6c4f0c;
  }
  
  .clsBtn{
    border-radius: 47%;
    background-color: gainsboro;
    width: fit-content;
    margin: 15px;

  }
  .clsBtn:hover{
    background-color: #d1a71cbe;
  }
  .datePicker{
    margin-left: 15px;
  }
  .formContain{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }