.cardEditContain{
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.editFormContainer{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 40vh;
}
