/* Patrimoine.css */
.patrimoine-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.rslt{
  margin: 15px 0;
}

  .patrimoine-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .date-picker {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
  }
  
  .select-day {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    background-color: #001831;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-submit:hover {
    background-color: #001831e0;
    transform: scale(1.02);
  }
  
  .btn-return {
    display: block;
    margin: 20px auto;
    background-color: #6c757d;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn-return:hover {
    background-color: #5a6268;
    transform: scale(1.02);
  }
  
  .chart-container {
    margin-top: 20px;
  }
  .resultat-input {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  